@tailwind base;
@tailwind components;
@tailwind utilities;

/* 您的自定义样式可以放在这下面 */

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
} 